body
{background-color: black;
    
}
h1
{color:dodgerblue;
font-family:monospace;
    font-size: 42;

    
}
p1
{color:crimson;
font-size:30;
font-family: cursive
    
}
p2
{color:darkmagenta;
font-size: 30;
    font-family: monospace
    
}
    
